.lm-ui-slider {

	width: 100%;
	overflow-x: auto;
	transform: translateZ(0);

	&::-webkit-scrollbar { display:none; }

	.slider-x-frame {

		display: table;
		margin: 0;
	    padding: 0;

	}

	.slider-x-item-wrapper {

		display: table-cell;
		white-space: nowrap;
		text-align: center;
    	vertical-align: top;

	}

}