.lm-ui-n-list {
  background: #fff;
  &-item {
    position: relative;
    font-size: 14px;
    color: #333;
    line-height: 1;
    padding: 15px 14px;
    &:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: #e6e6e6;
      content: '';
      transform: scaleY(0.5);
    }
  }
}