.lm-ui-cells {
  background: #fff;
  .lm-ui-cell {
    position: relative;
    font-size: 14px;
    padding: 0 14px;
    min-height: 50px;
    color: #333;
    display: flex;
    align-items: center;
    border-top: 1px solid transparent;

    &:before {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: #e6e6e6;
      content: '';
      transform: scaleY(0.5);
    }

    &.active:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 4px;
      transform: rotate(-45deg);
      border-left: 2px solid #ff552e;
      border-bottom: 2px solid #ff552e;
      top: 50%;
      margin-top: -5px;
      right: 14px;
    }

    &-bd {
      overflow: hidden;
      flex: 1;
    }

    &-ft {
      color: #999;
      font-size: 14px;
      text-align: right;
    }
  }
}