.demo-filter-bar {
  display: flex;
  background: #fff;
  .lm-ui-sort {
    flex: 1;
  }
  &-list {
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
  }
  .demo-sort-active {
    .positive-sort {
      .lm-icon-arrow-top {
        border-bottom-color: red
      }
    }
    .reverse-sort {
      .lm-icon-arrow-bottom {
        border-top-color: red;
      }
    }
  }
}

.demo-multi-filter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 99;
  .btn-group {
    display: flex;
    .box {
      flex: 1;
    }
  }
  .term-cell {
    position: relative;
    padding: 0 14px 10px;
    font-size: 0;
    &:before {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: #e6e6e6;
      content: '';
      transform: scaleY(0.5);
    }
    &:last-child:before {
      display: none;
    }
    dt {
      font-size: 14px;
      padding: 10px 0;
    }
    dd {
      display: inline-block;
    }
    .lft-item {
      display: inline-block;
      font-size: 12px;
      margin: 0 10px 10px 0;
      min-width: 75px;
      color: #333;
      text-align: center;
    }
  }
  .filter-term-ft {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}