.demo-filter-bar {
  display: flex;
  background: #fff;
  .lm-ui-sort {
    flex: 1;
  }
  &-list {
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
  }
  .demo-sort-active {
    .positive-sort {
      .lm-icon-arrow-top {
        border-bottom-color: red
      }
    }
    .reverse-sort {
      .lm-icon-arrow-bottom {
        border-top-color: red;
      }
    }
  }
}