<!doctype html>  
<html lang="en">  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection"content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content">
        <title>58金融组件库</title>
    </head>
    <body> 
        <div id="root"></div>
        <script src="/example.js"></script>
    </body>
</html> 