.lm-ui-navbar-box {
  position: relative;
  width: 100%;
  overflow: auto;
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #e6e6e6;
    content: '';
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
.lm-ui-navbar-multi::after {
  display: none;
}

.lm-ui-navbar-multi .lm-ui-navbar li {
  position: relative;
}

.lm-ui-navbar-multi .lm-ui-navbar li:after {
  position: absolute;
  left: -6px;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #e6e6e6;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.lm-ui-navbar {
  background-color: #fff;
}

.lm-ui-navbar li {
  text-align: center;
}

.lm-ui-navbar li:active {
  background-color: #ededed;
}

.lm-ui-navbar a {
  font-size: 14px;
  color: #333;
  padding: 13px 6px;
  border-bottom: 2px solid transparent;
  display: inline-block;
  position: relative;
  z-index: 20;
}

.lm-ui-navbar .active a {
  color: #ff552e;
  border-bottom-color: #ff552e;
}

.lm-ui-navbar-equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.lm-ui-navbar-equal li {
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
}

.lm-ui-navbar-nowrap {
  padding: 0 6px;
  font-size: 0;
  white-space: nowrap;
}

.lm-ui-navbar-nowrap li {
  display: inline-block;
  padding: 0 8px;
}

.lm-ui-navbar-nowrap::-webkit-scrollbar {
  display: none;
}

.lm-ui-navbar-box::-webkit-scrollbar {
  display: none;
}

.lm-ui-navbar a {
  font-size: 14px;
  color: #333;
  padding: 13px 6px;
  border-bottom: 2px solid transparent;
  display: inline-block;
  position: relative;
  z-index: 20;
}
.lm-ui-navbar-wrap {
  background: #fff;
  min-height: 200px;
}