.lm-ui-checkbox-group {

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #fff;
	padding: 0 14px;
    min-height: 50px;
    color: #333;
    position: relative;
    border-top: 1px solid transparent;
    font-size: 14px;

}