.lm-ui-radio-wrap {

	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
	position: relative;
	width: 100%;
    min-height: 50px;
    color: #333;
    position: relative;
    border-top: 1px solid transparent;

    &::after {

	    position: absolute;
	    left: 0px;
	    right: 0;
	    bottom: 0;
	    height: 1px;
	    background-color: #e6e6e6;
	    content: '';
	    -webkit-transform: scaleY(0.5);
	    transform: scaleY(0.5);

    }

    &:last-of-type::after {

		content: none;

    }

}

.lm-ui-radio-label {

    width: 95px;

}

.lm-ui-radio {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.lm-ui-radio-wrap {

	input:checked + .lm-ui-icon-check {
		&::after {
			display: block;
		}
	}

}

.lm-ui-icon-check {

    display: flex;
    align-items: center;
	width: 18px;
	height: 18px;
	text-align: center;

	&::after {
		content: "";
		width: 10px;
		height: 4px;
	    transform: rotate(-45deg);
	    border-left: 1px solid #fff;
	    border-bottom: 1px solid #fff;
	    margin: -1px auto 0;
	    border-width: 2px;
    	border-color: #ff552e;
	    display: none;

	}

}
