.lm-ui-sort-group {

    display: flex;
    border-bottom: solid 1px #e6e6e6;
    background: #fff;

    .lm-ui-model {
        top: 94px;
    }

    .lm-ui-sort-wrap {
        flex: 1;
    }

    .lm-ui-sort {
        position: relative;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 14px;
        em {
            font-style: normal;
        }
        &-icon {
            display: flex;
            flex-direction: column;
            height: 12px;
            justify-content: space-around;
            margin-left: 4px;
        }
        .positive-sort {
            .lm-icon-arrow-top {
                border-bottom-color: #131212
            }
        }
        .reverse-sort {
            .lm-icon-arrow-bottom {
                border-top-color: #131212;
            }
        }
        .label {
            display: inline-block;
            padding: 14px 0;
        }
        .lm-icon-arrow-top.lm-icon-arrow-active {
            border-bottom-color: red
        }

        .lm-icon-arrow-bottom.lm-icon-arrow-active {
            border-top-color: red;
        }
    }

    .lm-ui-sort-wrap-active {

        .lm-ui-sort {
            .label {
                color: red;
            }
        }


        .lm-ui-sort-list {
            .lm-icon-arrow-top {
                border-bottom-color: #FF552E
            }

            .lm-icon-arrow-bottom {
                border-top-color: #FF552E;
            }
        }

        .lm-ui-sort-toggle {
            .lm-icon-arrow-top {
                border-bottom-color: #787c7c
            }
            .lm-icon-arrow-top.lm-icon-arrow-active {
                border-bottom-color: #FF552E
            }
            .lm-icon-arrow-bottom {
                border-top-color: #787c7c;
            }
            .lm-icon-arrow-bottom.lm-icon-arrow-active {
                border-top-color: #FF552E
            }
        }
    }




    .lm-ui-list {
        position: absolute;
        width: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        max-height: 100%;
        overflow: scroll;
    }

    .lm-multi-filter {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 95px;
        background: #fff;
        z-index: 99;
        .btn-group {
            display: flex;
            .box {
                flex: 1;
            }
        }
        .term-cell {
            position: relative;
            padding: 0 14px 10px;
            font-size: 0;
            &:before {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 1px;
                background-color: #e6e6e6;
                content: '';
                transform: scaleY(0.5);
            }
            &:last-child:before {
                display: none;
            }
            dt {
                font-size: 14px;
                padding: 10px 0;
            }
            dd {
                display: inline-block;
            }
            .lft-item {
                display: inline-block;
                font-size: 12px;
                margin: 0 10px 10px 0;
                min-width: 75px;
                color: #333;
                text-align: center;
            }
        }
        .filter-term-ft {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .sort-loading {
        position: absolute;
        background: #fff;
        width: 100%;
        height: 50px;
        line-height: 50px;
        left: 0;
        top: 0;
        font-size: 14px;
        padding-left: 20px;
    }

}



