@charset "UTF-8";

// Use box sizing on all the things!
html {
    font-size: 50px;
    height: 100%;
}

body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, div, span, i, em, strong, b, fieldset, legend, input, select, textarea, button, th, td, menu{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none; // 横屏时候的字体变大问题
    text-size-adjust: none;
}
body {
    font-family: $font-family-default;
    font-size: $font-size-default;
    color: #333;
    background-color: #efeff4;
    -webkit-overflow-scrolling: touch;
    max-width: 720px;
    margin: 0 auto;
    min-height: 100%;
    -webkit-user-select: none;//禁止选择文字    
    @include box-shadow(0 0 10px rgba(0,0,0,0.2));
    margin: 0 auto;
}
// Universal link styling
a {
    color: #002be5;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
    &:active {
        background: #ededed;
    }
}

input,
select,
button,
textarea {
    background-color: transparent;
    outline: none;
    border: 0;
    -webkit-appearance: none;
}
input::-webkit-input-placeholder { 
  color: #bdbdbd;
}

ul, ol, li {
    list-style: none;
}
i,
strong,
em {
    font-weight: normal;
}
img,
fieldset {
    border: 0;
}
.lm-ui-content {
    max-width: 720px;
    background-color: #efeff4;
}
.hide {
    display: none!important;
}
.lm-ui-flex-box {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    .flex-item {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
        display: block;
        // margin-left: 8px;
        // min-width: 20px;
        // overflow: hidden;
    }
}
