/*
 * 背景颜色 
 *  蒙层背景颜色
 *  normal背景颜色
 */
$model-bg-color: rgba(0, 0, 0, .5);
$normal-bg-color: #fff;

/*
 * line style
 */
$normal-solid-color: 1px solid #e6e6e6;

/*
 * 字体设置
 *  大小
 *   small  14
 *	 normal 16
 *   big    ...
 *  颜色
 *	 normal  #333333
 *   content #666666
 *   special #ff552e
 	 comment  #999999
 */
$small-font-size: 14px;
$normal-font-size: 16px;


$normal-font-color: #333333;
$content-font-color: #666666;
$comment-font-color: #999999;
$special-font-color: #ff552e;