/* reset */
body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
div,
span,
i,
fieldset,
legend,
input,
select,
textarea,
button,
th,
td{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: .2rem;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  font-size: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button {
  font-weight: 500;
}
input,
textarea,
select,
button {
  vertical-align: middle;
}
img,
fieldset,
input[type="submit"] {
  border: none;
}
input {
  outline: none;
  background: transparent;
  vertical-align: top;
}
input::-ms-clear {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  cursor: pointer;
  border: none;
}
textarea {
  word-wrap: break-word;
  resize: none;
  -webkit-box-shadow: none;
}
input,
textarea,
select {
  -webkit-appearance: none;
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
color:#dbdbdb;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color:#dbdbdb;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color:#dbdbdb;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color:#dbdbdb;
}

b {
  font-weight: normal;
}
select::-ms-expand {
  display: none;
}
::-ms-check {
  display: none;
}
body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  color: #333;
  font-family: arial, tahoma, "microsoft yahei", sans-serif, sans-serif;
}
input,textarea,select {
  color: #333;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333;
}
a,
button,
input {
  -webkit-touch-callout: none;
  background: none;
  outline: none;
}
a:focus,
button:focus,
input:focus,
a:active,
button:active,
input:active {
  outline: none;
  border: none;
}
ul {
  list-style: none;
}
