@import './helper.scss';

@mixin gridCenter {

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;

}

@mixin fixedModel {

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $model-bg-color;
	@include gridCenter;

}

@mixin rowLayout {

	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;

}

/*
 * amin
 */
@keyframes animOpacity {

    from { opacity: 0; }
    to   { opacity: 1; }

}

@keyframes scaleAnim {

    from { transform: scale(0.5); }
    to   { transform: scale(1); }

}

@mixin animCommon {
	
	animation-duration: .3s;
    animation-timing-function: ease-in-out;
    transform: translateZ(100);

}

@mixin animOpacity {

	@include animCommon;
	animation-name: animOpacity;

}

@mixin animScale {

	@include animCommon;
	animation-name: scaleAnim;

}







