@import '../Style/lmui.scss';


/*通用样式*/
.lm-ui-btn{
	border-radius: 4px;
	font-size: 16px;
	border-width: 1px;
	border-style: solid;
	padding: 12px 20px;
	.lm-ui-btn-icon{
		display: inline-block;
		margin-right: 10px;
		background-size: 100% 100%;
		width: 16px;
		height: 16px;
		vertical-align: middle;
	}
}
.lm-ui-btn[disabled] {
  background-color: #E6E6E6;
  border-color: #E6E6E6;
  color: #FFFFFF;
}

/*尺寸样式*/
.lm-ui-btn-small{
	font-size:14px;
	padding: 6px 10px;
}
.lm-ui-btn-middle{
	font-size:14px;
	padding: 8px 15px;
}
.lm-ui-btn-big{
	font-size:16px;
	padding: 14px 20px;
}
.lm-ui-btn-long{
	display: block;
	width: 100%;
	padding: 12px 0px;
}


/**形态样式**/

	/*普通(实心)*/
.lm-ui-btn-primary{
	color:#FFFFFF;
	background-color: #FF552E;
	border-color: #FF552E;
	&:active{
		background-color:#E04A28;
		border-color: #E04A28;
		border:1px solid #E04A28;
	}
	&:focus{
		border: 1px solid #FF552E;
	}
}
	/*彩色-空心*/
.lm-ui-btn-colorful-hollow{
	color:#FF552E;
	border-color: #FF552E;
	&:active{
		border:1px solid #E04A28;
		color: #E04A28;
	}
	&:focus{
		border: 1px solid #FF552E;
	}
}
	/*灰色-空心*/
.lm-ui-btn-gray-hollow{
	color:#333333;
	border-color: #E6E6E6;
	&:active{
		border:1px solid #E6E6E6;
		background-color: #E6E6E6;
	}
	&:focus{
		border: 1px solid #E6E6E6;
	}
}
  /*吸底*/
.lm-ui-btn-suction{
	position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    .lm-ui-btn{
    	border-radius: 0px;
    }
    .lm-ui-btn-suction-button{
    	width: 125px;
    }
}
.lm-ui-flex-box{
	display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .lm-ui-btn-item{
	    -webkit-box-flex: 1;
	    -webkit-flex: 1;
	    -moz-flex: 1;
	    flex: 1;
	    display: block;
    }
}